{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="m-3">
        {% if user.organizer %}
            <a class="btn btn-success mb-3" href="{% url 'create-tournament' user.organizer.id %}">Организовать турнир</a>
        {% endif %}
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for tournament in tournaments %}
                <div class="col">
                    <div class="card">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item {% if tournament.image %}active{% endif %}">
                                    <img src="{{ tournament.image.url }}" class="d-block w-100">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ tournament.title }}</h5>
                            <p class="card-text">{{ tournament.description }}</p>
                            <a href="{% url 'tournament-detail' tournament.id %}" class="btn btn-dark">Подробнее</a>
                            {% if user.player is not None or user.referee is not None %}
                                <a href="{% url 'leave-tournament' tournament.id %}" class="btn btn-outline-danger">
                                    Покинуть
                                </a>
                            {% endif %}
                            {% if user.organizer is not None and tournament.status == "Не начат" %}
                                <a href="{% url 'start-tournament' tournament.id %}"
                                   class="btn btn-outline-dark">Начать
                                </a>
                            {% endif %}
                            {% if user.organizer is not None and tournament.status == "Идёт" %}
                                <a href="{% url 'completed-tournament' tournament.id %}"
                                   class="btn btn-outline-dark">Завершить
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}