<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"
           href={% url 'home' %}>
            Организация теннисных турниров
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/admin">Панель администратора</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if user.is_authenticated %}
            <div>
                {% if not user.is_staff %}
                    <a class="btn btn-light" href={% url 'get_basket' %}>
                        <i class="fa-regular fa-cart-shopping"></i>
                    </a>
                {% endif %}
                <a href="#" class="btn btn-outline-light">Выйти</a>
            </div>
        {% else %}
            <div>
                <a href="#" class="btn btn-light">Войти</a>
                <a href="#" class="btn btn-outline-light">Зарегистрироваться</a>
            </div>
        {% endif %}
</nav>