<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"
           href={% url 'home' %}>
            Организация теннисных турниров
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/admin">Панель администратора</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if user.is_authenticated %}
            <div>
                <a href="#" class="btn btn-outline-light">Выйти</a>
            </div>
        {% else %}
            <div class="d-flex flex-row">
                <div class="dropdown">
                    <a href="#" class="btn btn-light">Войти</a>
                    <a class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
                        Регистрация
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Участнику</a></li>
                        <li><a class="dropdown-item" href="#">Организатору</a></li>
                        <li><a class="dropdown-item" href="#">Судье</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
</nav>