{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{% url 'organizer-registration' %}" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <!-- Email -->
                    <div class="form-group">
                        <label for="id_title">Наименование организатора:</label>
                        <input type="text" name="title" id="id_title" class="form-control" required>
                        <div class="invalid-feedback">
                            Пожалуйста, введите наименование организатора.
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <label for="id_email">Электронная почта:</label>
                        <input type="email" name="email" id="id_email" class="form-control" required>
                        <div class="invalid-feedback">
                            Пожалуйста, введите электронную почту.
                        </div>
                    </div>

                    <!-- Пароль -->
                    <div class="form-group">
                        <label for="id_password">Пароль:</label>
                        <input type="password" name="password" id="id_password" class="form-control" required>
                        <div class="invalid-feedback">
                            Пожалуйста, введите пароль.
                        </div>
                    </div>

                    <!-- Повторите пароль -->
                    <div class="form-group">
                        <label for="id_passwordConfirm">Повторите пароль:</label>
                        <input type="password" name="passwordConfirm" id="id_passwordConfirm" class="form-control"
                               required>
                        <div class="invalid-feedback">
                            Пожалуйста, повторите пароль.
                        </div>
                    </div>

                    <!-- Кнопка для отправки формы -->
                    <button type="submit" class="btn btn-dark mt-3">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}